<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4850ee13-2efe-4667-97a7-f7b76be6896d" Publisher="CN=ali.sufiyan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Shake and Compare</DisplayName>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Shake_and_Compare.App">
      <VisualElements DisplayName="Shake and Compare" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Shake and Compare" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>